
.login {
    
    align-items: center;
    margin: 20px; 
    
    
    .login-container {
        display: flex;
        flex-direction: column; 
        border-width: 1px;
        
        align-items: center;
        input {
            width: 45%;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        h2 {
            margin-bottom: 40px; 
            
        }
    }
    .login-modal {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
.login-ref {
    display: flex;
    flex: 1;
    justify-content: center;
    cursor: pointer;
    text-decoration-line: underline;
}    

.logo-header {    
    text-align: center;
    padding: 10px;
    
    img {
        height: 350px;
    }
}
.signup-container {
    input {

        margin-bottom: 10px;
    }
}
