
.login {
    width: 60%;
    align-self: center;
    h2 {
        margin-bottom: 40px; 
    }
    .login-container {
        display: flex;
        flex: 1;
        flex-direction: column; 
        border-width: 1px;
        border-color: gray;
        input {
            margin-bottom: 10px;
            border-radius: 10px;
        }
    }
    .login-modal {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
.login-ref {
    display: flex;
    flex: 1;
    justify-content: center;
}    
