.center-page {
    display: flex;
    flex-direction: column; 
     
    .logo-header {    
        text-align: center;
        padding: 10px;
        
        img {
            height: 250px;
        }
    }
    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px;
    }
}

.draggable-container {
    padding: 140px;
    background-color: rgba(147, 148, 148, 0.23);
    border-radius: 4px;
    border: 2px dashed rgba(95, 92, 92, 0.2);
    font-size: 14px;
    display: flex;
    margin-bottom: 7px;
    overflow: hidden;  
    display: flex;
}
.upload-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    h4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.image-upload > input {
    display: none;
}
.image-upload img {
    width: 80px;
    cursor: pointer;
}