<html !DOCTYPE>
  <head>
    <title>Sequantix OCR</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="../../facvicon.ico" href="">
    <base href="/"> 
  </head>

  <body style="background-color: #EE7C33" >
    <div id="root"></div>
    <!-- Attach React components -->
    <script src="../../dist/scripts/main.js"></script>    
    <!-- <script src="{{ config.BASE_URL }}scripts/main.js"></script>     -->
  </body>
</html
